* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif; }
 
 body {
    background-image: url(url/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro {
    text-align: center;
    margin: 1.5rem 0;
    
}
